.App {
    display: block;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;

}
h1 {
    font-size: 2.2rem;
    margin-bottom: 40px;
    margin-top: 24px;
}

.check-container {
    position: fixed;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px silver;
    display: inline-block;
    width: 25%;
    left: 10px;
    top: 50%;
    translate: 0 -50%;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    background: linear-gradient(to bottom, white 60%, rgb(236, 230, 253));
}
.check-container::-webkit-scrollbar {
    width: 12px; /* Ширина вертикальной полосы прокрутки */
}

.check-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Цвет фона полосы прокрутки */
}

.check-container::-webkit-scrollbar-thumb {
    background-color: lavender; /* Цвет ползунка полосы прокрутки */
    border-radius: 6px; /* Скругление ползунка */
}

.check-container::-webkit-scrollbar-thumb:hover {
    background-color: #d4d4fa; /* Цвет ползунка при наведении */
}

.check-container ol {
    padding-left: 15px;
}

.check-container li {
    font-size: 2px;
    opacity: 0;
    transform: translateX(200px);
    animation: product 0.3s forwards;
}

.total {
    text-align: right;
}

.total div {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
}

.moneyConfirm {
    margin-bottom: 15px;
    position: relative;
    height: 50px;
    width: 100%;
}

.moneyConfirm img:first-child {
    z-index: 1;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 24%;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.1s;
}
.moneyConfirm img:first-child:hover{
    width: 25%;
}

.moneyConfirm img:last-child {
    opacity: 0.1;
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%) translateY(-120px);
    width: 0;
    cursor: pointer;
}

.activeMoney {
    animation: money 0.15s 4;

}

@keyframes money {
    to {
        width: 24%;
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

@keyframes product {
    to {
        font-size: 16px;
        opacity: 1;
        transform: translateX(0);
        text-align: left;
    }
}


.check-container span {
    font-size: 18px;
    opacity: 0;
    letter-spacing: 4px;
}

.price {
    opacity: 1 !important;
    letter-spacing: 0 !important;
    transition: 0.3s;
}

.check-container li button {
    cursor: pointer;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 25px;
    padding-block: 0;
    border: none;
    transition: 0.05s;
    background-color: lavender;
}

.check-container li button:active {
    transform: scale(1.05);
    box-shadow: 0 0 5px cornflowerblue;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(176, 203, 255, 0.1);
    backdrop-filter: blur(4px);
    z-index: 1;

}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

}

.modal {
    opacity: 0.95;
    border-radius: 20px;
    background-color: white;
    padding-inline: 40px;
    padding-block: 20px;
    max-width: 80%;
    max-height: 80%;
    z-index: 3;
    animation: modal 6s infinite linear;
}

.modal button {
    padding: 10px;
    margin: 10px;
}

@keyframes modal {
    0% {
        box-shadow: 20px 20px 80px #7283d5;
    }
    25% {
        box-shadow: -20px 20px 80px #7283d5;
    }
    50% {
        box-shadow: -20px -20px 80px #7283d5;
    }
    75% {
        box-shadow: 20px -20px 80px #7283d5;
    }
    100% {
        box-shadow: 20px 20px 80px #7283d5;
    }
}