h2,
h4,
p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.discount {
  position: absolute;
  opacity: 0.85;
  top: -10px;
  right: -40px;
  height: 60px;
  width: 120px;
  background-color: #fff371;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  transform: rotate(45deg);
  z-index: 1;
}
.discountvalue{
  position: absolute;
  bottom: 10px;
  left: 50%;
  translate: -50%;
}

.strikethrough {
  text-decoration: line-through;
  color: silver;
}

.description{
  font-size: 12px;
}
.picture {
  height: 100px;
  border-radius: 10px;
  box-shadow: 4px 8px 8px silver;
  transform: translateX(-50%);
  position: absolute;
  bottom: 15px;
}
.link {
  cursor: pointer;
  transition: 0.3s;
}
.link:hover {
  letter-spacing: 0.5px;
  color: cornflowerblue;
  font-weight: 600;
}
.product_item {
  height: 320px;
  position: relative;
  opacity: 0;
  width: 20%;
  border: 1px lightgray solid;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 4px 8px 8px silver;
  text-align: center;
  transform: translateX(50px) translateY(50px);
  overflow: hidden;
  background: linear-gradient(to bottom, white 30%, rgb(236, 230, 253));
  animation: card 0.2s forwards;
}
.cat {
  height: 220px;
}
.cat .picture {
  height: 160px;
}
@keyframes card {
  to {
    opacity: 0.85;
    transform: translateX(0) translateY(0);
  }
}

.product_item:nth-child(1) {
  animation-delay: 0s;
}
.product_item:nth-child(2) {
  animation-delay: 0.1s;
}
.product_item:nth-child(3) {
  animation-delay: 0.2s;
}
.product_item:nth-child(4) {
  animation-delay: 0.3s;
}
.product_item:nth-child(5) {
  animation-delay: 0.4s;
}
.product_item:nth-child(6) {
  animation-delay: 0.5s;
}
.product_item:nth-child(7) {
  animation-delay: 0.6s;
}
.product_item:nth-child(8) {
  animation-delay: 0.7s;
}
